action-msgs==1.2.1
action-tutorials-interfaces==0.20.4
action-tutorials-py==0.20.4
actionlib-msgs==4.2.4
ament-cmake-test==1.3.9
ament-copyright==0.12.11
ament-cppcheck==0.12.11
ament-cpplint==0.12.11
ament-flake8==0.12.11
ament-index-python==1.4.0
ament-lint==0.12.11
ament-lint-cmake==0.12.11
ament-package==0.14.0
ament-pep257==0.12.11
ament-uncrustify==0.12.11
ament-xmllint==0.12.11
angles==1.15.0
annotated-types==0.7.0
anyio==4.11.0
azure-ai-documentintelligence==1.0.2
azure-core==1.36.0
azure-identity==1.25.1
beautifulsoup4==4.14.2
builtin-interfaces==1.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
cobble==0.1.4
coloredlogs==15.0.1
composition-interfaces==1.2.1
cryptography==46.0.3
cv-bridge==3.2.1
defusedxml==0.7.1
demo-nodes-py==0.20.4
diagnostic-msgs==4.2.4
dill==0.4.0
domain-coordinator==0.10.0
et_xmlfile==2.0.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup==1.3.0
fastapi==0.119.0
filelock==3.20.0
flatbuffers==25.9.23
fsspec==2025.9.0
geometry-msgs==4.2.4
h11==0.16.0
hf-xet==1.1.10
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
humanfriendly==10.0
idna==3.11
image-geometry==3.2.1
interactive-markers==2.3.2
isodate==0.7.2
Jinja2==3.1.6
joblib==1.5.2
laser-geometry==2.4.0
launch==1.0.6
launch-ros==0.19.7
launch-testing==1.0.6
launch-testing-ros==0.19.7
launch-xml==1.0.6
launch-yaml==1.0.6
lifecycle-msgs==1.2.1
logging-demo==0.20.4
lxml==6.0.2
magika==0.6.2
mammoth==1.10.0
map-msgs==2.1.0
markdownify==1.2.0
markitdown==0.1.3
MarkupSafe==3.0.3
message-filters==4.3.4
mpire==2.10.2
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
multiprocess==0.70.18
nav-msgs==4.2.4
networkx==3.4.2
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.5
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvshmem-cu12==3.3.20
nvidia-nvtx-cu12==12.8.90
olefile==0.47
onnxruntime==1.23.1
openpyxl==3.1.5
osrf-pycommon==2.0.2
packaging==25.0
pandas==2.3.3
pcl-msgs==1.0.0
pdfminer.six==20250506
pendulum-msgs==0.20.4
pillow==12.0.0
protobuf==6.33.0
pycparser==2.23
pydantic==2.12.3
pydantic_core==2.41.4
pydub==0.25.1
Pygments==2.19.2
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-multipart==0.0.20
python-pptx==1.0.2
python-qt-binding==1.1.2
pytz==2025.2
PyYAML==6.0.3
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
quality-of-service-demo-py==0.20.4
rcl-interfaces==1.2.1
rclpy==3.3.13
rcutils==5.1.6
regex==2025.9.18
requests==2.32.5
resource-retriever==3.1.2
rmw-dds-common==1.6.0
ros2action==0.18.10
ros2bag==0.15.11
ros2cli==0.18.10
ros2component==0.18.10
ros2doctor==0.18.10
ros2interface==0.18.10
ros2launch==0.19.7
ros2lifecycle==0.18.10
ros2multicast==0.18.10
ros2node==0.18.10
ros2param==0.18.10
ros2pkg==0.18.10
ros2run==0.18.10
ros2service==0.18.10
ros2topic==0.18.10
rosbag2-interfaces==0.15.11
rosbag2-py==0.15.11
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.15.3
semchunk==3.2.3
sensor-msgs==4.2.4
sensor-msgs-py==4.2.4
sentence-transformers==5.1.1
shape-msgs==4.2.4
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SpeechRecognition==3.14.3
sros2==0.10.5
starlette==0.48.0
statistics-msgs==1.2.1
std-msgs==4.2.4
std-srvs==4.2.4
stereo-msgs==4.2.4
sympy==1.14.0
teleop-twist-keyboard==2.4.0
tf2-geometry-msgs==0.25.7
tf2-kdl==0.25.7
tf2-msgs==0.25.7
tf2-py==0.25.7
tf2-ros-py==0.25.7
tf2-tools==0.25.7
threadpoolctl==3.6.0
tokenizers==0.22.1
topic-monitor==0.20.4
torch==2.9.0
tqdm==4.67.1
trajectory-msgs==4.2.4
transformers==4.57.1
triton==3.5.0
turtlesim==1.4.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
unique-identifier-msgs==2.2.1
urllib3==2.5.0
uvicorn==0.37.0
visualization-msgs==4.2.4
xlrd==2.0.2
xlsxwriter==3.2.9
youtube-transcript-api==1.0.3
